html {
	background-color: #62A9FF;
}
#canvas {
	background-color: #01F33E;
	border-color: black;
	border: solid;
}
#p1 {
	background-color: #DFDF00;
}
#boton {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#contenedor {
	position: relative;
	width: 600px;
	height: 300px;
}
#modal {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.contenedor {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	visibility: hidden;
}
.modal {
	background-color: white;
	border-radius: 4px;
	padding: 25px;
	margin: 10% auto;
	width: 50%;
	height: auto;
}
.cerrar {
	width: auto;
	height: auto;
	cursor: pointer;
	color: rgba(255,0,0,0.5);
	padding: 7px;
	float: right;
	font-family: "Calibri";
	font-weight: bold;
}
.cerrar:hover {
	background-color: rgba(255,0,0,1);
}